/* .card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 65%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    
  }
   */
   .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;  
    margin: 1%;
  }
  
  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 450px;
  }

.game  {
  padding: 17px 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: hsl(114, 64%, 41%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  font-family: 'Tajawal', sans-serif;
  font-size: 24px;
  color: hsl(0, 0%, 100%);
  width: 80%;
  height: 50px;
  margin-top: 30px;
}

button:active {
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(94, 94, 94) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.room{
  margin-top: 15px;
  height: 40px;
  background-color: hsl(261deg 80% 48%);
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  font-family: 'Tajawal', sans-serif;
  font-size: 24px;
  color: hsl(0, 0%, 100%);
  width: 80%;
  padding-bottom: 30px;
}

.label {
  direction: rtl;
  position: relative;
  width: 250px;
  border-radius: 6px;
  background-color:#efefef;
  padding: 15px 8px 15px 10px;
  text-align: center;
  align-items: center;
}

.label .input {
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #7b7b7b;
  text-align: center;
  width: 70%;
}

.virtical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px; 
}

img{
  height: 120px;
  width: 240px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: -50px;
  margin-top: 10px;
}

.head {
  width: 90px;
  height: 90px;
  background: #ffd966;
  border-radius: 50%;
  border: 1px solid #b2b2b2;
  margin-bottom: -10px;
  z-index: 2;
  position: relative;
  box-shadow: 2px 2px 0 #999, -2px -2px 0 #999;

}

.eyes {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 60px;
  height: 80px;
  margin-left: -30px;
  background: radial-gradient(circle, #000 15%, transparent 15%);
  background-size: 30px 60px;
  background-repeat: repeat-x;
}

.mouth {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 40px;
  height: 15px;
  margin-left: -20px;
  border-bottom: 20px solid #000;
  border-radius: 0 0 20px 20px;
}

.body {
  width: 120px;
  height: 80px;
  background: #ffd966;
  border-radius: 60px 60px 20px 20px;
  border: 1px solid #b2b2b2;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 0 #999, -2px -2px 0 #999;
}

.left-icon {
  transform: rotate(0deg); 
  width: 30px;
  height: 30px;
  margin-top: 60px;  
}

.right-icon {
  transform: rotate(180deg); 
  width: 30px;
  height: 30px;
  margin-top: 60px;
}
